@tailwind base;
@tailwind components;
@tailwind utilities;

code,
pre {
    font-family: 'SF Mono', 'IBM Plex Mono', 'Menlo', monospace;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.03);
    padding: 12px;
    border-radius: var(--radius);
    max-height: 500px;
    width: var(--page-width-max);
    overflow: auto;
}